/* para importar fuentes de google desde css */
/* @import url(‘https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap’); */
/* creamos variables repetitivas */
:root {
  --green-color: #7acc2d;
  --box: 0 0 2px #c1bcbc;
  --box-btn: inset 0 -0.2em rgba(0, 0, 0, 0.2);
  --white-color: white;
  --black-color: #2e2c2c;
  --tamaño: 12px;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: var(--tamaño);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background: var(--green-color);
}
.header-image {
  margin: 0 0 0 20px;
}

.header ul {
  display: inherit;
}
.header ul li {
  margin-right: 20px;
  list-style: none;
}
.header a {
  text-decoration: none;
  color: var(--black-color);
}
.header a:hover {
  color: var(--white-color);
}

.hero h1 {
  font-size: 2.4em;
  text-align: center;
  padding: 8%;
  margin: 0;
}
.hero-products {
  display: flex;
  justify-content: center;
  background-image: url("../images/curve.png");
  /* padding: 20%; */
  height: 400px;
  background-size: cover;
  background-position: center;
  /* padding: 15%; */
}
.product {
  max-width: 240px;
  max-height: 68%;
  box-shadow: var(--box);
  margin-top: -75px;
  background: var(--white-color);
}
.product.one {
  margin-right: 20px;
}

.img-product {
  margin: 0;
  text-align: center;
}

.product-details {
  padding: 0.8em;
}
.product h3 {
  margin: 0;
  font-size: 1.4em;
}
.product p {
  font-size: 10px;
}
.btn {
  width: 100%;
  background: var(--green-color);
  padding: 0.5em 0;
  border: none;
  border-radius: 5px;
  color: white;
  box-shadow: var(--box-btn);
  cursor: pointer;
  outline: 0;
  transition: 0.2s;
  will-change: transform;
  font-size: 1.3em;
}

.btn:active {
  transform: scale(0.9);
}
