body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background: #7acc2d;
}
.header-image {
  margin: 0 0 0 20px;
}

.header ul {
  display: inherit;
}
.header ul li {
  margin-right: 20px;
  list-style: none;
}
.header a {
  text-decoration: none;
  color: #2e2c2c;
}
.header a:hover {
  color: white;
}

.hero h1 {
  font-size: 2em;
  text-align: center;
  padding: 8%;
  margin: 0;
}
.hero-products {
  display: flex;
  justify-content: center;
  background-image: url("../images/curve.png");
  /* padding: 20%; */
  height: 400px;
  background-size: cover;
  background-position: center;
  /* padding: 15%; */
}
.product {
  max-width: 200px;
  max-height: 65%;
  box-shadow: 0 0 1px #c1bcbc;
  margin-top: -60px;
  background: white;
}
.product.one {
  margin-right: 20px;
}

.img-product {
  margin: 0;
  text-align: center;
}

.product-details {
  padding: 0.5em;
}
.product h3 {
  margin: 0;
}
.product p {
  font-size: 11px;
}
.btn {
  width: 100%;
  background: #7acc2d;
  padding: 0.5em 0;
  border: none;
  border-radius: 5px;
  color: white;
  box-shadow: inset 0 -0.2em rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: 0;
  transition: 0.2s;
  will-change: transform;
}

.btn:active {
  transform: scale(0.9);
}
